:root {
    --darkBlue: #2a315f;
    --midBlue: #585c7c;
    --gold: #ffb858;
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

body {
    background-color: var(--darkBlue);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.pg-pad {
    padding: 30px 50px;
    max-width: 1440px;
    margin: auto;
}

nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin-bottom: 20px;
}

.PrimeNav {
    display: flex;
    justify-content: space-around;
    grid-gap: 30px;
}

nav ul a {
    text-decoration: none;
    color: gray;
}

nav ul a:hover {
    text-decoration: underline;
}

.ac {
    text-decoration: overline;
}

.t {
    background-image: url("../images/space-bkg.png");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-gap: 30px;
}

.c1 {
    background-color: #f3d9b5;
    color: #2B315E;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 10px;
    text-align: center;
    align-items: end;
}

.c1 a {
    grid-column: 2;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    text-transform: uppercase;
}

model-viewer {
    width: 500px;
    height: 500px;
}

.button {
    color: white;
    text-decoration: none;
    background-color: var(--gold);
    padding: 8px 20px;
    display: inline-block;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .5);
}

.buttonB {
    background-color: var(--midBlue);
}

.button:hover {
    background-color: #f3d9b6;
    color: black;
}

.buttonB:hover {
    background-color: #101439;
    color: white;
}

.moonTrip,
.plutoTrip {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    align-items: center;
}

.moonTrip img {
    transition: 1s;
}

.moonTrip img:hover {
    transform: scale(1.2);
}

.plutoTrip img {
    transition: 1s;
    grid-column: 3;
}
.plutoTrip img:hover{
    transform: scale(1.2);
}

.plutoTrip div {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}